<!DOCTYPE html>
<head>
	<title>AmritBites</title>
	<meta charset="utf-8">
	<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="/"><img class="logo" src="{{url_for('static', filename='images/AMRIT_BITES.png')}}" width="513" height="84" alt="" title=""></a>
			<a href="/"><img  src="{{url_for('static', filename='images/waitress.png')}}" width="332" height="205" alt="" title=""></a>
			<ul class="navigation">
				<!-- <li>
					<a class="active" href="/">Home</a>
				</li> -->
				<!-- <li>
					<a href="/menu">Menu</a>
				</li> -->
				<!-- <li>
					<a href="contact.html">Contact</a>
				</li> -->
			</ul>
		</div>
	</div>
	<div id="body">
		<div class="featured">
			<h2>Welcome!!!!</h2>
			<p>
				Our online menu is exclusively for Amrita Vishwa Vidyapeetham students and faculty. Browse our selection of delicious meals from the Main, MBA, and IT canteens.
			</p>
			<ul>
				<li>
					<a href="#"><img src="https://10619-2.s.cdn12.com/rests/original/108_500695708.jpg" width="284" height="214" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="https://content.jdmagicbox.com/comp/coimbatore/w4/0422px422.x422.170930125009.i2w4/catalogue/amrita-main-canteen-ettimadai-coimbatore-restaurants-x6q05-250.jpg" alt="" width="284" height="214"></a>
				</li>
				<li>
					<a href="/menu"><img src="{{url_for('static', filename='images/test_canteen_1.jpeg')}}" alt="" width="284" height="214"></a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div>
			<ul>
				<li class="first">
					<h3>Done by</h3>
				</li>
				<li>
					<h3 style="font-size: medium;">Dheepak Raaj R</h3>
					<h3 style="font-size: medium;">Chandana Daggupati</h3>
					<h3 style="font-size: medium;">Jai Vardhan N</h3>
					<h3 style="font-size: medium;">Jegadit S Saravanan</h3>
				</li>
				<li class="last">
					<span>&copy; 2023 AmritBites.com. All Rights Reserved</span>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>